<div class="body-container">
    <div class="project">
        <div class="left-side">
            <div ngPreserveWhitespaces class="text-box description">
                <h2>Code Analysis Tool</h2>
                <p><br>Senior Design Project<br>
                A Python Code Analysis tool which analysis code readability, function, redundancy, cyclomatic complexity, and generates ASTs based on user selection.</p>
                <h3>Technical Implementation</h3>
                <p>&emsp; &#9830; Django framework</p>
                <p>&emsp; &#9830; HTML, CSS frontend</p>
                <p>&emsp; &#9830; Python backend</p>
                <p>&emsp; &#9830; AWS Cloud Services (DynamoDB, Lambda)</p>
                <p>&emsp; &#9830; Git, Trello</p>
            </div>
        </div>
        <div class="right-side">
            <div class="sdp"></div>
        </div>
    </div>
    <div class="project">
        <div class="left-side">
            <div ngPreserveWhitespaces class="text-box description">
                <h2>Course Scheduler</h2>
                <p><br>Final project for CSE2102: Intro to Software Engineering.<br>
                A course scheduling website which allows students to add/drop classes created by professors. Both admin and student logins available with different privileges and abilities.</p>
                <h3>Technical Implementation</h3>
                <p>&emsp; &#9830; VueJS framework, HTML, CSS, JavaScript frontend</p>
                <p>&emsp; &#9830; Python backend</p>
                <p>&emsp; &#9830; Flask API</p>
                <p>&emsp; &#9830; AWS Cloud Services</p>
                <p>&emsp; &#9830; Git, Trello</p>
            </div>
        </div>
        <div class="right-side">
            <div class="course-scheduler"></div>
        </div>
    </div>
</div>