<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="header-container">
    <a href="#" routerlink="/" class="logo">Andrew Erdei</a>
    <div class="space"></div>
    <nav>
        <ul>
            <li>
                <a href="#" routerLink="/about">About</a>
                <a href="#" routerLink="/personal-projects">Personal Projects</a>
                <a href="#" routerLink="/academic-projects">Academic Projects</a>
                <a href="#" routerLink="/experience">Experience</a>
            </li>
        </ul>
    </nav>
    <div style="margin-left:350px;">
        <a href="https://www.linkedin.com/in/andrew-erdei" class="fa fa-lg fa-linkedin"></a>
        <a href="https://github.com/andrewerdei" class="fa fa-lg fa-github"></a>
    </div>
</div>
