
h2{
    text-align: center;
}

h3{
    margin-top: 10px;
    text-align: center;
}

h4{
    text-align: center;
}

p{
    margin-top: 5px;
    margin-left: 15%;
}

.detail-container{
    width: 100%;
    height: 50px;
}

.test{
    border: 1px solid black;
}