<div class="body-container">
    <div class="job">
        <div class="text-box description" style="height: 25px">
            <h2>Undergraduate Teaching Assistant</h2>
            <div class="detail-container">
                <div class="left-side">
                    <h3>University of Connecticut&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Storrs, CT</h3>
                </div>
                <div class="right-side">
                    <h3>August 2023 - Present </h3>
                </div>
            </div>
            <p>
                &middot;Supported overall 100+ students in Data Structures and Object-Oriented Design taught in Python. <br/>
                &middot;Led weekly lab sections with roughly 20 students. <br/>
                &middot;Hosted weekly office hours to help students better understand course-related material. <br/>
                &middot;Collaborated with other TAs and professors to grade and revise assignments and labs for the course. 
            </p>
        </div>
    </div>
    <div class="job">
        <div class="text-box description" style="height: 25px">
            <h2>Resident Assistant</h2>
            <div class="detail-container">
                <div class="left-side">
                    <h3>University of Connecticut&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Storrs, CT</h3>
                </div>
                <div class="right-side">
                    <h3>August 2023 - Present </h3>
                </div>
            </div>
            <p>
                &middot;Fostered a community among nearly 40 residents. <br/>
                &middot;Collaborated with other RAs in documenting incidents and planning floor meetings. <br/>
                &middot;Ensured safety, diversity, equity, and inclusion in the residence hall. 
            </p>
        </div>
    </div>
</div>