<div class="body-container">
    <div class="project">
        <div class="left-side">
            <div ngPreserveWhitespaces class="text-box description">
                <h2>AcademicAid.xyz</h2>
                <p><br>A webapp that allows users to generate spreadsheet academic planners and gpa-trackers according to their needs.<br></p>
                <h3>Technical Implementation</h3>
                <p>&emsp; &#9830; Angular framework</p>
                <p>&emsp; &#9830; Flask API</p>
                <p>&emsp; &#9830; HTML, CSS, JavaScript frontend</p>
                <p>&emsp; &#9830; Python backend</p>
                <p>&emsp; &#9830; Git</p>
            </div>
        </div>
        <div class="right-side">
            <div class="academic-aid"></div>
        </div>
    </div>
    <div class="project">
        <div class="left-side">
            <div ngPreserveWhitespaces class="text-box description">
                <h2>Academic Husky</h2>
                <p><br>An iOS to-do list style app allowing users to create assignments with deadlines with swipe-to-delete/edit functionality.<br></p>
                <h3>Technical Implementation</h3>
                <p>&emsp; &#9830; React Native framework</p>
                <p>&emsp; &#9830; HTML, CSS frontend</p>
                <p>&emsp; &#9830; JavaScript backend</p>
                <p>&emsp; &#9830; Git</p>
            </div>
        </div>
        <div class="right-side">
            <div class="academic-husky"></div>
        </div>
    </div>
    <div class="project">
        <div class="left-side">
            <div ngPreserveWhitespaces class="text-box description">
                <h2>Python Gradebook</h2>
                <p><br>A program which combines multiple student's data into one Dataframe and calculates final grades. This is soley for personal education and was made referencing a tutorial which can be found at realpython.com/pandas-project-gradebook/.<br></p>
                <h3>Technical Implementation</h3>
                <p>&emsp; &#9830; Python</p>
                <p>&emsp; &#9830; Pandas library</p>
                <p>&emsp; &#9830; Git</p>
            </div>
        </div>
        <div class="right-side">
        </div>
    </div>
</div>